ConsumeSevice/Service References/CalculatorService/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15468/Calculator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15468/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15468/Calculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_AddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNumbers" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubstractNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SubstractNumbers" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubstractNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultiplyNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyNumbers" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultiplyNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivisionNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:DivisionNumbers" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivisionNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="AddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/AddNumbers" message="tns:ICalculator_AddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AddNumbersResponse" message="tns:ICalculator_AddNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubstractNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/SubstractNumbers" message="tns:ICalculator_SubstractNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SubstractNumbersResponse" message="tns:ICalculator_SubstractNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/MultiplyNumbers" message="tns:ICalculator_MultiplyNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/MultiplyNumbersResponse" message="tns:ICalculator_MultiplyNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivisionNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DivisionNumbers" message="tns:ICalculator_DivisionNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DivisionNumbersResponse" message="tns:ICalculator_DivisionNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="http://tempuri.org/ICalculator/AddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstractNumbers">
      <soap:operation soapAction="http://tempuri.org/ICalculator/SubstractNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyNumbers">
      <soap:operation soapAction="http://tempuri.org/ICalculator/MultiplyNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivisionNumbers">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DivisionNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:15468/Calculator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>