ConsumeSevice/Service References/CalculatorService/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="number1" type="xs:double" />
      <xs:element minOccurs="0" name="number2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorModel" nillable="true" type="tns:CalculatorModel" />
</xs:schema>